.UtilityBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 0;
  border-style: solid hidden;
  border-width: 1px;
  border-color: #e0dbdb;
  width: 90%;
}

.add--new--button {
  background-color: #282c34;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 10px;
}

.search--bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search--bar input {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  height: 25px;
}

.FaMagnifyingGlass {
  display: none;
  position: absolute;
  right: 10px;
  color: #282c34;
  cursor: pointer;
  height: 15px;
}

.Deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 20px;
  height: 250px;
  cursor: pointer;
  width: 250px;
  background-color: #25a18e;
}

.decks--grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

@media only screen and (min-width: 601px) {
  .decks--grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .UtilityBar {
    flex-direction: row;
    width: 75%;
  }
  .add--new--button {
    margin-bottom: 0;
    font-size: 15px;
  }
  .FaMagnifyingGlass {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .decks--grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .UtilityBar {
    flex-direction: row;
    width: 75%;
  }
  .add--new--button {
    margin-bottom: 0;
    font-size: 15px;
  }
  .FaMagnifyingGlass {
    display: block;
  }
}
