.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

p {
  font-size: 15px;
}
a {
  text-decoration: none;
}
.Header {
  position: relative;
  background-color: #004e64;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logout-popup {
  position: absolute;
  top: calc(100% - 40px); /* Position the popup below the icon */
  left: 50px; /* Position the popup at the left edge of the icon */
  transform: translateX(-50%);
  background-color: #fff;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
}

.logout-popup:hover {
  background-color: #f2f2f2;
}

.black {
  color: #000000;
}

.red {
  color: #e74c3c;
}
.green {
  color: #52b69a;
}
.webpage--title {
  font-size: 50px;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.header--links {
  color: #d7e0e4;
  font-size: 2rem;
  margin: 0 20px;
}

.header--button {
  background-color: #004e64;
  color: #f2f2f2;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 2rem;
  margin: 0 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header--links {
    font-size: 1.5rem;
  }
  .header--button {
    font-size: 1.5rem;
  }
  .webpage--title {
    font-size: 40px;
  }
}

/* Media query for mobile-sized screens */
@media (max-width: 480px) {
  .webpage--title {
    font-size: 30px;
  }
}

.page--title {
  margin-top: 40px;
}

.DecksPage,
.DisplayDeckPage,
.StudyDeckPage,
.CreateDeckPage,
.RegisterPage,
.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.new--deck--form input,
.new--card--form input,
.card--edit--form,
.register--form input,
.login--form input {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 75%;
  font-size: 18px;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0;
  height: 75px;
  color: #f2f2f2;
  background-color: #004e64;
  width: 100%;
}
